@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");



.mainPage {
  width: 100%;
  background: #fafafa;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 2rem;

  .banner {
    width: 85%;
    display: flex;
    border-radius: 50%;
    justify-content: space-between;
    margin-top: 9rem;
    img {
      object-fit: contain;
      height: 100%;
    }

    .rightPart {
      background-color: #c3e7fd;
      justify-content: space-between;
      position: relative;
      overflow: hidden;
      width: 100%;
      display: flex;
      padding: 3.125rem 6.25rem;
      align-items: center;
      &::after {
        content: " ";
        height: 100%;
        border-radius: 50%;
        position: absolute;
        background-color: #d3b4f6;
        width: 12.5rem;
        left: -6.25rem;
        top: 0rem;
      }

      .r1 {
        flex: 0.75;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 3.125rem;

        .title {
          color: #1e272e;
          font-family: Bebas Neue;
          font-size: xxx-large;
          font-weight: bold;
        }

        .description {
          font-size: xx-large;
          font-family: DM Sans;
          color: gray;
        }
      }

      .viewButton {
        flex: 0.15;
        height: 2.5rem;
        width: 8.75rem;
        background-color: black;
        color: white;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
      }
    }
  }
}

.subHead {
  width: 90%;

  font-size: x-large;
  font-weight: bold;
  margin-top: 3.125rem;
}

.cardContainer {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1rem;
  gap: 1rem;
  justify-content: center;
  .edit{
    display: none;
  }
}
